div {
    height: 100px;
    width: 100px;
    background-color: green;
    text-align: center;
    border: 2px solid black;
    margin: 20px;
    display: inline-block;
}

#static { 
    background-color: yellow;
    position: static;
    top: 100px;
    left: 100px;
}

#relative {
    background-color: yellow;
    position: relative;
    top: 100px;
    left: 100px;
}

#absolute {
    background-color: rgb(171, 171, 86);
    position: absolute;
    top: 100px;
    left: 100px;
}

#fixed {
    background-color: rgb(51, 231, 195);
    position: fixed;
    top: 100px;
    left: 100px;
}